.footer-container {
  background: rgb(17, 17, 17);
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(242, 242, 242);
}

.footer-container p {
  font-size: 18px;
}

.footer-container a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

.footer-container a:hover {
  color: rgb(30, 59, 155);
}

.social-icon-link {
  color: rgb(242, 242, 242);
  font-size: 24px;
}

.social-icon-link:hover {
  color: rgb(30, 59, 155);
  transition: 0.3s ease-out;
}

.social-media-wrap {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

@media screen and (max-width: 840px) {
  .footer-container {
    text-align: center;
  }

  .social-media-wrap {
    flex-direction: column;
    margin-top: 10%;
  }

  .website-rights {
    margin-top: 10%;
    text-align: center;
  }
}
