/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home, .about, .info, .book, .screening, .contact, .privacy-policy {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 42, 46, 1) 62%,
    rgba(77, 78, 79, 1) 100%
  );
  color: rgb(242, 242, 242);
}

/* Home */

.home-bottom-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.news-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20%;
  margin: 5% 5%;
  text-align: justify;
}

.news-section > h3 {
  font-size: 40px;
  margin-bottom: 5%;
}

.news-section > p {
  font-size: 20px;
  margin-bottom: 5%;
}

.news-section a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

.news-section a:hover {
  color: rgb(11, 87, 208);
}

/* About */

.about {
  height: 100%;
  padding: 5% 10%;
  text-align: justify;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.about h1 {
  font-size: 40px;
}

.about p {
  margin-top: 2%;
  font-size: 20px;
  padding: 0 20%;
}

/* Info */

.info-team,.info-music, .info-research, .info-aspirations {
  height: 100%;
  padding: 5% 10%;
  text-align: justify;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.info-team h1 {
  font-size: 40px;
  margin-bottom: 5%;
}

.info-team p {
  margin-top: 2%;
  font-size: 24px;
  padding: 0 20%;
}

.info-team span {
  color: transparent;
}

.info-music h1 {
  font-size: 40px;
  margin-bottom: 5%;
}

.info-music p {
  margin-top: 2%;
  font-size: 20px;
  padding: 0 20%;
}

.info-research h1 {
  font-size: 40px;
  margin-bottom: 5%;
}

.info-research p {
  margin-top: 2%;
  font-size: 20px;
  padding: 0 20%;
}

.info-aspirations h1 {
  font-size: 40px;
  margin-bottom: 5%;
}

.info-aspirations p {
  margin-top: 2%;
  font-size: 20px;
  padding: 0 20%;
}

/* Screening */

.screening {
  height: 100%;
  padding: 5% 10%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.screening h1 {
  font-size: 40px;
}

.screening p {
  margin-top: 5%;
  font-size: 20px;
}

.screening form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  padding: 20px;
}

.screening form > input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-button {
  width: 20%;
  margin-bottom: 5%;
  font-size: 24px;
  border-radius: 5px;
}

.form-button:hover {
  background-color: rgb(11, 87, 208);
  color: rgb(242, 242, 242);
  cursor: pointer;
}

/* Book */

.book {
  height: 100%;
  padding: 5% 10%;
  text-align: center;
}

.book h1{
  font-size: 40px;
}

.book button {
  width: 30%;
  margin: 5%;
  padding: 2%;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(42, 42, 46, 1);
  color: rgb(242, 242, 242);
}

.book button:hover {
  background-color: rgb(11, 87, 208);
}

.book-container {
  padding: 5% 10%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: rgb(242, 242, 242);
}

.book-container a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

.book-container a:hover {
  color: rgb(11, 87, 208);
}

/* Contact */

.contact {
  height: 100%;
  padding: 5% 10%;
  text-align: justify;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.contact h1 {
  font-size: 40px;
}

.contact p {
  margin-top: 5%;
  font-size: 20px;
  padding: 0 20%;
}

.contact form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  padding: 20px;
}

.contact form > input, .contact form > textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Privacy Policy */

.privacy-policy-container {
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 5% 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  object-fit: contain;
  line-height: 150%;
}

.privacy-policy-container p {
  text-align: justify;
}

.privacy-policy-container ul {
  margin: 2%;
}

.privacy-policy-container h1 {
  margin: 5% 0;
  font-size: 60px;
}

.privacy-policy-container h2 {
  margin: 5% 0;
  font-size: 40px;
}

.privacy-policy-container h3 {
  margin: 5% 0;
  font-size: 25px;
}

.privacy-policy-container a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

.privacy-policy-container a:hover {
  color: rgb(11, 87, 208);
}

/* Media Queries */

@media screen and (max-width: 960px) {
  .home-bottom-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .news-section {
    width: 50%;
    margin: 10% 5% 20% 5%;
    text-align: center;
  }

  .about h1 {
    margin-bottom: 10%;
  }

  .about p {
    font-size: 18px;
    padding: 0 2%;
  }

  .info-team p {
    font-size: 15px;
    padding: 0 2%;
  }

  .info-music p {
    font-size: 15px;
    padding: 0 2%;
    margin-top: 5%;
  }

  .info-research p {
    font-size: 15px;
    padding: 0 2%;
    margin-top: 5%;
  }

  .info-aspirations p {
    font-size: 15px;
    padding: 0 2%;
    margin-top: 5%;
  }

  .screening h1 {
    margin-bottom: 10%;
  }

  .screening form {
    width: 90%;
  }

  .book button {
    width: 80%;
    margin: 5% 0;
    font-size: 20px;
  }

  .book-container {
    padding: 0;
    margin: 5%;
    flex-flow: column;
  }

  .book-container img {
    width: 100%;
  }

  .contact h1 {
    margin-bottom: 10%;
  }

  .contact p {
    padding: 0 5%;
  }

  .contact form {
    width: 90%;
  }

  .privacy-policy-container {
    padding: 5% 10%;
    line-height: 160%;
  }

  .privacy-policy-container ul {
    margin: 4%;
  }

  .privacy-policy-container h1 {
    margin: 5% 0;
    font-size: 35px;
  }
  
  .privacy-policy-container h2 {
    margin: 5% 0;
    font-size: 30px;
  }
  
  .privacy-policy-container h3 {
    margin: 5% 0;
    font-size: 20px;
  }
}
