/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.home,
.about,
.info,
.book,
.screening,
.contact,
.privacy-policy {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 42, 46, 1) 62%,
    rgba(77, 78, 79, 1) 100%
  );
  color: rgb(242, 242, 242);
}

/* Home */

.home-bottom-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.news-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20%;
  margin: 5% 5%;
  text-align: justify;
}

.news-section > h3 {
  font-size: 25px;
  margin-bottom: 5%;
}

.news-section > p {
  font-size: 20px;
  margin-bottom: 5%;
}

.news-section a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

.news-section a:hover {
  color: rgb(11, 87, 208);
}

/* About */

.about {
  height: 100%;
  padding: 5% 10%;
  text-align: justify;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.about h1 {
  font-size: 40px;
}

.about p {
  margin-top: 2%;
  font-size: 20px;
  padding: 0 15%;
}

.synopsis {
  margin-bottom: 5%;
}

#characters {
  margin: 5% 10%;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "image text text";
}

#characters-image {
  grid-area: image;
  background-image: url("./images/IvorCharacter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#characters-text {
  grid-area: text;
  overflow-y: scroll;
}

#characters-text::-webkit-scrollbar {
  display: none;
}

/* Info (Production) */

.info-team {
  height: 100%;
  margin: 5% 25%;
}

.info h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 5%;
}

.info-team p {
  margin-top: 2%;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.info-team p:last-child {
  border-bottom: none;
}

.info-team span {
  margin-left: auto;
  text-align: right;
}

#music {
  min-height: 800px;
  margin: 5% 20%;
  display: grid;
  text-align: justify;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text text"
    "image profile";
}

#music-text {
  grid-area: text;
  overflow-y: scroll;
  margin-bottom: 5%;
}

#music-text::-webkit-scrollbar {
  display: none;
}

#music-text p {
  font-size: 20px;
}

#music-image {
  grid-area: image;
  background-image: url("./images/ErranProfile.jpg");
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#music-card {
  display: none;
}

#music-profile {
  grid-area: profile;
  overflow-y: scroll;
}

#music-profile::-webkit-scrollbar {
  display: none;
}

#music-profile p {
  font-size: 20px;
  padding: 5%;
}

#research {
  margin: 5% 20%;
  display: grid;
  text-align: justify;
  grid-template-rows: 25% 25% 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "text text image3 image3"
  "text text image1 image2"
    "video video video video";
  }
  
  #research-text {
  grid-area: text;
  margin: 0 5% 0 0;
  font-size: 20px;
  overflow-y: scroll;
}

#research-text::-webkit-scrollbar {
  display: none;
}

#research-video {
  grid-area: video;
  /* padding: 5%; */
}

#research-image-one {
  grid-area: image1;
  background-image: url("./images/Research-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
}

#research-image-two {
  grid-area: image2;
  background-image: url("./images/Research-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
}

#research-image-three {
  grid-area: image3;
  background-image: url("./images/Research-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
}

#aspirations {
  padding: 5% 20%;
  display: grid;
  text-align: justify;
  grid-template-rows: 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "image text";
}

#aspirations-image {
  grid-area: image;
  background-image: url("./images/AspirationImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aspirations-text {
  grid-area: text;
  overflow-y: scroll;
}

#aspirations-text::-webkit-scrollbar {
  display: none;
}

#aspirations-text p {
  font-size: 20px;
  margin: 5%;
}

/* Screening */

.screening {
  height: 100%;
  padding: 5% 10%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.screening h1 {
  font-size: 40px;
}

.screening p {
  margin-top: 5%;
  font-size: 20px;
}

.screening form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  padding: 20px;
}

.screening form > input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-button {
  width: 20%;
  margin-bottom: 5%;
  font-size: 24px;
  border-radius: 5px;
}

.form-button:hover {
  background-color: rgb(11, 87, 208);
  color: rgb(242, 242, 242);
  cursor: pointer;
}

/* Book */

.book {
  height: 100%;
  padding: 5% 10%;
  text-align: center;
}

.book h1 {
  font-size: 40px;
}

.book button {
  width: 30%;
  margin: 5%;
  padding: 2%;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(42, 42, 46, 1);
  color: rgb(242, 242, 242);
}

.book button:hover {
  background-color: rgb(11, 87, 208);
}

.book-container {
  padding: 5% 10%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: rgb(242, 242, 242);
}

.book-container a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

.book-container a:hover {
  color: rgb(11, 87, 208);
}

/* Contact */

.contact {
  height: 100%;
  padding: 5% 10%;
  text-align: justify;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.contact h1 {
  font-size: 40px;
}

.contact p {
  margin-top: 5%;
  font-size: 20px;
  padding: 0 20%;
}

.contact form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  padding: 20px;
}

.contact form > input,
.contact form > textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Privacy Policy */

.privacy-policy-container {
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 5% 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  object-fit: contain;
  line-height: 150%;
}

.privacy-policy-container p {
  text-align: justify;
}

.privacy-policy-container ul {
  margin: 2%;
}

.privacy-policy-container h1 {
  margin: 5% 0;
  font-size: 60px;
}

.privacy-policy-container h2 {
  margin: 5% 0;
  font-size: 40px;
}

.privacy-policy-container h3 {
  margin: 5% 0;
  font-size: 25px;
}

.privacy-policy-container a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

.privacy-policy-container a:hover {
  color: rgb(11, 87, 208);
}

/* Media Queries */

@media screen and (max-width: 960px) {
  .about {
    padding: 5%;
  }

  .about h1 {
    margin: 10% 0;
  }

  .about p {
    font-size: 18px;
    padding: 0;
  }

  .synopsis {
    height: 450px;
    overflow-y: scroll;
  }

  #characters {
    margin: 0;
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "image text text";
  }

  .info-team {
    margin: 10%;
  }

  #music {
    margin: 5% 5%;
  }

  #research {
    margin: 5% 5% 50% 5%;
    display: grid;
    text-align: justify;
    grid-template-rows: 40% 30% 25% 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "text text"
      "image3 image3"
      "image1 image2"
      "video video";
  }

  #research-text {
    font-size: 20px;
    margin: 0;
  }

  #aspirations {
    padding: 5% 5%;
  }
}

@media screen and (max-width: 765px) {
  .home-bottom-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .news-section {
    width: 50%;
    margin: 10% 5% 20% 5%;
    text-align: center;
  }

  #characters-text p {
    padding: 5%;
  }

  .info {
    padding-top: 10%;
  }

  .info h1 {
    padding: 15% 0 5% 0;
  }

  .info-team p {
    font-size: 18px;
    padding: 0 2%;
  }

  #music {
    margin: 5% 5%;
    text-align: justify;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  #music-text {
    height: 300px;
    overflow-y: scroll;
  }

  #music-text p {
    font-size: 18px;
  }

  #music-card {
    display: block;
  }

  .music-card-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 5% 5%;
  }

  .music-card-image {
    display: block;
    width: 80%;
    margin: 0 10%;
    object-fit: contain;
    border-radius: 50%;
  }

  .music-card-container a {
    text-decoration: none;
    color: rgb(242, 242, 242);
  }
  
  .music-card-container a:hover {
    color: rgb(11, 87, 208);
  }

  #music-image {
    background-image: none;
  }

  #music-profile {
    display: none;
  }

  #research-text {
    font-size: 18px;
  }

  #aspirations {
    padding: 5%;
    display: grid;
    text-align: justify;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "text"
    "image";
  }

  #aspirations-text {
    margin-bottom: 5%;
  }

  #aspirations-text p {
    font-size: 18px;
    margin: 0;
  }

  #aspirations-image {
    margin-bottom: 5%;
  }

  .screening h1 {
    margin-bottom: 10%;
  }

  .screening form {
    width: 90%;
  }

  .book button {
    width: 80%;
    margin: 5% 0;
    font-size: 20px;
  }

  .book-container {
    padding: 0;
    margin: 5%;
    flex-flow: column;
  }

  .book-container img {
    width: 100%;
  }

  .contact h1 {
    margin-bottom: 10%;
  }

  .contact p {
    padding: 0 5%;
  }

  .contact form {
    width: 90%;
  }

  .privacy-policy-container {
    padding: 5% 10%;
    line-height: 160%;
  }

  .privacy-policy-container ul {
    margin: 4%;
  }

  .privacy-policy-container h1 {
    margin: 5% 0;
    font-size: 35px;
  }

  .privacy-policy-container h2 {
    margin: 5% 0;
    font-size: 30px;
  }

  .privacy-policy-container h3 {
    margin: 5% 0;
    font-size: 20px;
  }
}
